{# On doit récupérer la base #}
{% extends 'base.html.twig' %}

{# Redéfinir le titre de la page #}
{% block title %}Détail du jeu
{% endblock %}

{# On ouvre le block body #}
{% block body %}

	<h2>
		{{ game.title }}
	</h2>

	{# Récupérer le template de détails #}
	{% include 'base/detailCard.html.twig' %}

{% endblock %}
