{% extends 'base.html.twig' %}

{% block body %}

	<h2>{{ game.title }}</h2>

	{# Redéfinir des variables avec le mot-clé 'set' #}
	{% set date = game.releaseDate|date('d/m/Y') %}

	{# Récupérer le template de détails #}
	{% include 'base/detailCard.html.twig' %}


	<div class="d-flex flex-row">
		<div>
			{% include 'game/_delete_form.html.twig' %}
		</div>
	</div>


{% endblock %}
